header.Header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2E2F2E;
  color: #FFFFFF;
  padding: 10px;
  height: 70px;
  gap: 20px;
}

main.container{
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button.btn-adicionar{
  background: none;
  border: 1px solid #FFFFFF;
  width: 130px;
}

input{
  color: white;
}